:root
{
    font-family: 'trebuchet ms', sans-serif;
    --backgroundColor1: rgb(85, 67, 189);
    --backgroundColor2: rgb(63, 23, 128);
    --titleTextColor: rgb(195, 218, 94);
}



.sixhundred
{
    max-width: 600px;
    padding: 5px;
}

.title
{
    color: #c3da5e;
    padding: 10px;
    background: linear-gradient(45deg, var(--backgroundColor1), var(--backgroundColor2));
    border-radius: 10px 5px;

}